<!DOCTYPE html>
<html>
<head>
  <title>W2UI Demo: form/24</title>
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css">
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script>

    $(document).ready(function () {
      logicFunction()
    })
    function regist_exhibition(data) {
      console.log(data)
      $.ajax({
        type: "POST",    // GET 또는 POST
        contentType: "application/json",
        url: "/admin_registration_exhibition",
        data:data,
        success: function (data) {
          console.log(data)
        },
        error(error){
          console.log(error)
        }
      })
    }

    var dataList
    async function logicFunction(){
       dataList = await requestSync()
      console.log(dataList)
    }
    async function requestSync() {
      return new Promise(function(resolve, reject) {
        $.ajax({
          type: "GET",
          url: "/get_all_exhibitions",
          dataType: "json",
          success: function(data) {
            // Resolve the data as an array
            resolve([data]);
          }
        });
      });
    }

  </script>
</head>
<body>

<div id="form" style="width: 750px;"></div>
<div id="main" style="width: 100%; height: 400px;"></div>
<!--<br>-->
<!--<button class="w2ui-btn" onClick="setFocus(0)">Focus 1st field</button>-->
<!--<button class="w2ui-btn" onClick="setFocus(5)">Focus 6th field</button>-->
<!--<button class="w2ui-btn" onClick="setFocus('comments')">Focus 'comments' field</button>-->
<!--<button class="w2ui-btn" onClick="setFocus()">Focus original focus field</button>-->

<script type="module">
  import { w2form, w2ui, w2popup, w2alert,w2grid} from 'https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.es6.min.js'

  let form = new w2form({
    box: '#form',
    name: 'form',
    header: '전시 등록',
    url: 'server/post',
    focus: 'last_name',
    fields: [
      { field: 'title', type: 'text', required: true,
        html: { label: '전시명', attr: 'style="width: 200px"' }
      },
      { field: 'introduction', type: 'textarea',
        html: { label: 'introduction', attr: 'style="width: 200px; height: 60px"' }
      },
      { field: 'startDate', type: 'textarea',
        html: { label: 'startDate', attr: 'style="width: 200px; height: 60px"' }
      },
      { field: 'location_x', type: 'text',
        html: { label: 'location_x', attr: 'style="width: 200px"', column: 2, }
      },
      { field: 'location_y', type: 'text',
        html: { label: 'location_y', attr: 'style="width: 200px"', column: 2, }
      },
      { field: 'endDate', type: 'text',
        html: { label: 'endDate', attr: 'style="width: 200px"' ,column: 2,}
      }
    ],
    actions: {
      Reset(event) {
        this.clear()
      },
      Save(event) {
        if (w2ui.form.validate().length == 0) {
          regist_exhibition(JSON.stringify(this.getCleanRecord()))
        }
      }
    }
  })


  // widget configuration
  let config = {
    grid: {
      name: 'grid',
      recid: exhibitionId,
      show: {
        footer: true,
        toolbar: true
      },
      columns: [
        { field: 'exhibitionId', text: 'exhibitionId', sortable: true, searchable: 'text' },
        { field: 'title', text: 'title',  sortable: true, searchable: 'text' },
        { field: 'location_x', text: 'location_x',  sortable: true, searchable: 'text' },
        { field: 'location_y', text: 'location_y', resizable: true, sortable: true },
        { field: 'startDate', text: 'startDate',  sortable: true, searchable: 'text' },
        { field: 'endDate', text: 'endDate',  sortable: true, searchable: 'text' }
      ]
    }
  }

  let time = Date.now()
  // initialization
  let grid = new w2grid(config.grid)
  // generate data
  let fname = ['Vitali', 'Katsia', 'John', 'Peter', 'Sue', 'Olivia', 'Thomas', 'Sergei', 'Snehal', 'Avinash', 'Divia']
  let lname = ['Peterson', 'Rene', 'Johnson', 'Cuban', 'Twist', 'Sidorov', 'Vasiliev', 'Yadav', 'Vaishnav']
  // add 25k records

  grid.records.push(dataList)
  grid.render('#main')
</script>

</body>
</html>