<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/exhibition/assets/styles.css">

  <style>
    /*
      Figma Background for illustrative/preview purposes only.
      You can remove this style tag with no consequence
    */
    body {background: #E5E5E5; }
  </style>

</head>

<body>
<div class=e47_126>
  <div  class="e47_134"></div>
  <span  class="e47_135">전시 포스터 </span>
  <span  class="e47_140">
                <p>전시명</p>
<p>전시 위치</p>
<p>전시 소개글</p>
<p>전시 시작일</p>
<p>전시 종료일</p>
</span>
  <div  class="e47_141"></div><span  class="e47_142">작가정보 바로보기</span><div  class="e47_143"></div><span  class="e47_144">작품정보 바로보기</span><div  class="e47_145"></div><span  class="e47_146">챗봇</span><span  class="e47_154">조회수 : 5</span></div>
</body>
</html>