<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.10/tailwind.min.css'>
<div th:fragment="wiki" class="flex w-full mt-3 mb-5 space-x-3 max-w-xs">
  <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300">
    <img src="/chatbotAssets/chatbot1.png"/>
  </div>
  <div class="container-text">
    <div class="bg-white p-3 rounded-r-lg rounded-bl-lg border-2 border-black" style="width: 277px;">
      <p class="text-sm" th:text="${answer.answer}"></p>
    </div>
    <span class="text-xs text-gray-500 leading-none"><p class="minute-text-l">14:37</p></span>
  </div>
</div>
