.e47_126 {
    overflow:hidden;
}
.e47_126 {
    background-color:rgba(255, 255, 255, 1);
    width:1440px;
    height:1024px;
    position:absolute;
}
.e47_134 {
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width:678px;
    height:936px;
    position:absolute;
    left:37px;
    top:13px;
}
.e47_135 {
    color:rgba(0, 0, 0, 1);
    width:175px;
    height:49px;
    position:absolute;
    left:289px;
    top:86px;
    font-family:Noto Sans;
    text-align:left;
    font-size:36px;
    letter-spacing:0;
}
.e47_140 {
    color:rgba(0, 0, 0, 1);
    width:370px;
    height:441px;
    position:absolute;
    left:774px;
    top:72px;
    font-family:Noto Sans;
    text-align:left;
    font-size:36px;
    letter-spacing:0;
}
.e47_141 {
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width:426px;
    height:77px;
    position:absolute;
    left:785px;
    top:609px;
}
.e47_142 {
    color:rgba(0, 0, 0, 1);
    width:275px;
    height:49px;
    position:absolute;
    left:797px;
    top:623px;
    font-family:Noto Sans;
    text-align:left;
    font-size:36px;
    letter-spacing:0;
}
.e47_143 {
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width:426px;
    height:77px;
    position:absolute;
    left:785px;
    top:729px;
}
.e47_144 {
    color:rgba(0, 0, 0, 1);
    width:275px;
    height:49px;
    position:absolute;
    left:797px;
    top:743px;
    font-family:Noto Sans;
    text-align:left;
    font-size:36px;
    letter-spacing:0;
}
.e47_145 {
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width:165px;
    height:129px;
    position:absolute;
    left:1245px;
    top:881px;
}
.e47_146 {
    color:rgba(0, 0, 0, 1);
    width:67px;
    height:49px;
    position:absolute;
    left:1294px;
    top:921px;
    font-family:Noto Sans;
    text-align:left;
    font-size:36px;
    letter-spacing:0;
}
.e47_154 {
    color:rgba(0, 0, 0, 1);
    width:149px;
    height:49px;
    position:absolute;
    left:239px;
    top:961px;
    font-family:Noto Sans;
    text-align:left;
    font-size:36px;
    letter-spacing:0;
}
